<header class="flexbox-header">{{appService.getTitle()}}</header>
<div class="flexbox-body">
  <section class="flexbox-content">
    <div class="flexbox-main-content">
      <router-outlet></router-outlet>
    </div>
    <footer class="flexbox-footer">Footer</footer>
  </section>
  <aside class="flexbox-nav">
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/games" routerLinkActive="active">Games</a></li>
      <li><a routerLink="/foo" routerLinkActive="active">Not Found</a></li>
    </ul>
  </aside>
  <aside class="flexbox-sidebar">Aside</aside>
</div>
